# ==> /etc/systemd/system/public-inbox-imaps.socket <==
[Unit]
Description = public-inbox-imaps socket

[Socket]
ListenStream = 0.0.0.0:993
BindIPv6Only = ipv6-only
ListenStream = [::]:993
Service = public-inbox-imapd@1.service

[Install]
WantedBy = sockets.target
