# ==> /etc/systemd/system/public-inbox-httpd.socket <==
# Consider looking at public-inbox-netd.socket instead of this file
# to simplify management when serving multiple protocols.

[Unit]
Description = public-inbox-httpd socket

[Socket]
ListenStream = 80
Service = public-inbox-httpd@1.service

[Install]
WantedBy = sockets.target
