# ==> /etc/systemd/system/public-inbox-imap-onion.socket <==
# This unit is for the corresponding line in torrc(5):
# HiddenServicePort 143 unix:/run/imapd.onion.sock
[Unit]
Description = public-inbox-imap .onion socket

[Socket]
ListenStream = /run/imapd.onion.sock
Service = public-inbox-imapd@1.service

[Install]
WantedBy = sockets.target
