# ==> /etc/systemd/system/public-inbox-httpd.socket <==
[Unit]
Description = public-inbox-httpd socket

[Socket]
ListenStream = 80
Service = public-inbox-httpd@1.service

[Install]
WantedBy = sockets.target
